{% extends "rememberapp/_base.html" %}

{% block title %}
    Список воспоминаний
{% endblock title %}

{% block content %}
    <div class="d-flex flex-column align-items-center vh-100 text-white">
        <div class="d-flex justify-content-end w-100">
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-primary text-white mb-60">
                    <i class="fas fa-sign-out-alt font-bold"></i> Выйти из
                    аккаунта
                </button>
            </form>
        </div>
        {% for remember in remembers %}
            <div class="card bg-gray-900 text-white mb-3 w-100">
                <div class="card-body">
                    <!-- Добавляем стили CSS -->
                    <style>
                        .title-link {
                            color: aqua; /* делаем текст синим */
                        }

                        .title-link:hover {
                            text-decoration: underline !important; /* добавляем подчеркивание при наведении */
                        }
                    </style>
                    <a href="{{ remember.get_absolute_url }}"
                       class="title-link text-decoration-none">
                        <h5 class="card-title">{{ remember.title }}</h5>
                    </a>
                    <p class="card-text">{{ remember.comment|linebreaks }}</p>
                    <p class="card-text">
                        Долгота: {{ remember.location.x }}
                        Широта: {{ remember.location.y }}
                    </p>
                    <!-- Кнопка удаления -->
                    <button class="btn btn-danger float-right"
                            data-toggle="modal"
                            data-target="#deleteModal{{ remember.id }}">
                        Удалить
                    </button>
                </div>
            </div>
            <!-- Модальное окно подтверждения удаления -->
            <div class="modal fade" id="deleteModal{{ remember.id }}"
                 tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-gray-900">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">
                                Подтвердите удаление</h5>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Вы уверены, что хотите удалить это воспоминание?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Отмена
                            </button>
                            <form method="POST"
                                  action="{% url 'remember-delete' remember.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    Удалить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <h1 class="display-4 text-center text-primary text-white font-bold my-2 mb-12">
                У вас нет ни одного воспоминания</h1>
        {% endfor %}
        <button class="btn btn-success my-10"
                onclick="location.href='{% url 'add-new-remember' %}'">Добавить
            воспоминание
        </button>

    </div>
    <!-- Подключаем jQuery и Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock content %}
